<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workout Plan</title>
</head>
<body>
  <center>

    <h1>Add Workout Plan</h1>
    <form action="/admin/page/addPlan" method="post">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" required><br><br>
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate" required><br><br>
      <label for="userId">User ID:</label>
      <select name="UserId" id="">
        <% users.forEach(el => { %>
         <option value="<%= el.id %>"><%= el.userName %></option>
        <% }) %>
        <br>
      </select>
      <button type="submit">Add Workout Plan</button>
    </form>
  </center>
  </body>
  </html>
  